{% extends 'base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
<h2>Личный кабинет {{ doctor.name }} </h2>
<h3>Ваши записи: </h3>
{% if appointments %}
    <ul>
        {% for a in appointments %}
            <li>
                Пациент: {{ a.patient_id.name }}<br>
                Процедура: {{ a.procedure_id.name }}<br>
                Дата и время: {{ a.appointment_time.strftime('%Y-%m-%d %H:%M') }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>У вас пока нет записей на прием</p>
{% endif %}
{% endblock %}